.red {
    color: red;
}
div.page{
    margin: 0px 40px;
}
p{
    margin-bottom: 20px;
}
b{
    font-size: 16px;
}
p.nechet{
    background-color: #dddddd;
}

/*
p {}
div {}

#first {}
#person {}

.title {} <!-- селектор для классов -->
.product-item {}

[type=text]{} <!-- селектор для элементов, у которых есть атрибут -->
[attr1="value1"]{}

p.red {} <!-- селектор для элементов, у которых есть одновременно несколько атрибутов -->
.item .first {}
input[type=text]{}

ul li p{} <!-- селектор для элементов, у которых есть одновременно несколько ВЛОЖЕННЫХ атрибутов -->
.item .item {}
div >span {} <!-- селектор для элементА, у которых есть одновременно несколько ВЛОЖЕННЫХ атрибутов, следующих друг за другом -->
